[Desktop Entry]
Categories=Graphics;Utility;
Comment=Amstrad CPC Image Converter - Desktop Application
Exec=AppRun %U
StartupNotify=true
StartupWMClass=pixsaur
Icon=pixsaur
Name=Pixsaur
Terminal=false
Type=Application
MimeType=image/png;image/jpeg;
