[Desktop Entry]
Name=Pixsaur
Comment=Amstrad CPC Image Converter
Exec=AppRun
Icon=pixsaur
Type=Application
Categories=Graphics;Utility;
Terminal=false
StartupNotify=true
