.panel {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: var(--radius-md);
  padding: var(--spacing-sm);
  border: 1px solid var(--color-border);
  margin-bottom: var(--spacing-sm);
  height: 100%;
  flex: 1;
}
