.adjustmentsContainer {
  display: flex;

  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-xs);

  padding: var(--spacing-sm);
}

@media (min-width: var(--breakpoint-lg)) {
  .adjustmentsContainer {
    flex-direction: column;
  }
}
