.adjustmentsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-xs);
  padding: var(--spacing-sm);
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

@media (min-width: var(--breakpoint-lg)) {
  .adjustmentsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

